.header {
    width: 80vw;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.header button {
    font-weight: bold;
    width: 6rem;
    background-color: rgb(190, 227, 241);
    border: 2px solid rgb(72, 185, 229);
    border-radius: 10px;
}

.header button:hover {

    background-color: rgb(134, 212, 240);

}